<%= react_component('TripMeals', days: @days) %>

<div class='pv4'>
  <%= link_to "Choose Meals You'll Be Eating", new_attendance_path, class: 'f4 link dim br-pill ph3 pv2 mb2 dib white bg-dark-gray' %>
</div>
